

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {font-size: 0.9em;
  background-color: #ccc; 
  font-family: arial, helvetica, sans-serif;
  }


ul {
  list-style: none; /* Quitamos los marcadores */
  padding: 3; /* Quitamos el padding por defecto de la lista */
  margin-left: 5px; /* Separamos la lista de la izquierda */
}

li {
  display: table-cell;
  border: 2px;
  text-align: center; 
  padding: 5px;
}

header {
  display: block; 
  position: sticky;
  background-color: #1cbc8d; 
  padding: 3px; 
  border: 1px solid #fff;
 }

caption {
  color: white;
  font-family: arial;
  background-color: #3cbc8d; 
  padding: 10px; 
  border: 2px solid #fff;
}


h2 {
  color: white;
  font-family: arial;
}


p {
  margin-bottom: 1px;
  
}
 

div {
   display: block; 
  background-color: #3cbc8d; 
  padding: 7px; 
  border: 2px solid #ccc;
} 

table {
border-collapse: collapse;
width: 100%;
}

table, th, td {
  border: 1px solid #ddd;

}


th {
  position: sticky;
  top: 0;
  background-color: #3cbc8d;
  color: white;
  height: 50px;
  text-align: center;

}


td {
  height: 10px;

}


th, td {
  padding: 1px;
  
}


.tr {
  background-color: lightgray;
} 


tr:nth-child(odd) {
  background-color: gray;
}


tr:nth-child(even) {
  background-color: #ccc;
}

.trclear {
  background-color: lightgray;
} 

.error-msg {
 color:#FF0000;
  text-align:center;
  font-size:25px;"
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #3cbc8d;
}

.login-header {
  background: #3cbc8d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #3cbc8d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #3cbc8d;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #89bfa8;
}

.button {
  background-color: #4CAF50;
  border: 1px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: auto;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button1 {
  background-color: #4CAF50;
  border: 1px;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: auto;
  margin: 1px ;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}



#managerTable {
    max-height: 500px;
    overflow: auto;
}